<div id="<%= dom_id gi_account %>">
  <p>
    <strong>Account mail:</strong>
    <%= gi_account.account_mail %>
  </p>

  <p>
    <strong>Account pass:</strong>
    <%= gi_account.account_pass %>
  </p>

  <p>
    <strong>Account phone:</strong>
    <%= gi_account.account_phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= gi_account.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= gi_account.note %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= gi_account.price %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= gi_account.owner %>
  </p>

</div>
