<p style="color: green"><%= notice %></p>

<h1>Gi accounts</h1>
<div class="card">
  <div class="card-body">
    <%= link_to "New gi account", new_gi_account_path , class:"btn btn-primary btn-custom" %>
    <button  class="btn btn-danger btn-custom" id="delete_selected_account">
      Delete Account
    </button>
    <%= render "gi_accounts/import_new_list_acc"%>
    <div class="table-responsive mt-2" id="my_account_table">
      <%= render "gi_accounts/tble_account" %>
    </div>
  </div>
</div>
<div id="modal_error_import_schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="compose-header-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>
<%= render partial: "shared/loading_modal" %>
