<%= form_for @gi_account, url: gi_accounts_path(@gi_account) do |f| %>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :account_mail, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0">
      <%= f.text_field :account_mail, class:"form-control text-field-css", :required=> true %>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :account_pass, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.text_field :account_pass, class:"form-control text-field-css", :required=> true %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :account_phone, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.text_field :account_phone, class:"form-control text-field-css" %>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :birthday_acc, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.text_field :birthday_acc, class:"form-control text-field-css"%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :list_character, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= render 'gi_accounts/select_characters', f: f%>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :list_weapon, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= render 'gi_accounts/select_weapon', f: f%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :map_clear, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :map_clear, class:"form-control text-field-css" %>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :account_code, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.text_field :account_code, class:"form-control text-field-css" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :intertwined_fate, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :intertwined_fate, class:"form-control text-field-css" %>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :acquaint_fate, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :acquaint_fate, class:"form-control text-field-css"%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :price, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :price, class:"form-control text-field-css" %>
    </div>
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :sold_price, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :sold_price, class:"form-control text-field-css"%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :role, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0 form-controll" >
      <%= f.select :role, options_for_select([['Acc thường', 1], ['Acc reroll', 0]]), class: "control-label style-label" %>
    </div>
    
    <div class="offset-sm-1 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :ar, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.number_field :ar, class:"form-control text-field-css"%>
    </div>
  </div>
  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-1">
      <div class="label-form text-end">
        <%= f.label :note, class:"control-label style-label" %>
      </div>
    </div>
    <div class="col-sm-2 ps-0" >
      <%= f.text_area :note, :cols => 10, :rows => 5, class:"form-control text-field-css" %>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center ">
      <%= link_to 'Back' , gi_accounts_path, class:"btn btn-secondary me-2" %>
        <%= f.submit "Save" ,class: 'btn btn-primary mdi mdi-plus', id:"add_account" %>
    </div>
  </div>
  <% end %>