<select class="select2 form-control select2-multiple  weapon-select" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">

                <% @weapons.each.with_index do |w, idx| %>
                    <% unless f.object.list_weapon.blank?  %>
                        <% weapon_ids = f.object.list_weapon.split(',').map { |entry| entry.split('_').first.strip } %>
                        <% new_list_weapon = character_ids.join(',') %>
                        <% if new_list_weapon.split(',').include? (w.id.to_s) %>

                            <option value="<%=w.id%>" selected><%= w.name %></option>                            
                        <% else %>

                            <option value="<%=w.id%>"><%= w.name %></option>
                        <% end %>
                    <% else %>

                         <option value="<%=w.id%>"><%= w.name %></option>
                    <% end %>                   
                <% end %>

    <%= f.hidden_field  :list_weapon, class: "hidden-list-weapons" %>
</select> 

