<p style="color: green"><%= notice %></p>

<h1>Gi accounts</h1>
<div class="card">
  <div class="card-body">
<%
=begin%>
 <div id="gi_accounts">
  <% @gi_accounts.each do |gi_account| %>
    <%= render gi_account %>
    <p>
      <%= link_to "Show this gi account", gi_account %>
    </p>
  <% end %>
</div> 
<%
=end%>

<%= link_to "New gi account", new_gi_account_path , class:"btn btn-primary btn-custom" %>
    <div class="table-responsive mt-2">
<table class="table mb-0 tbl_account" id="tbl_account">
    <thead>
        <tr>
            <th class=""></th>
            <th class="">STT</th>
            <th class="">Account Info</th>
            <th class="">InGame Info</th> 
            <th class="">Price Info</th> 
            <th class=""></th>
        </tr>
    </thead>

    <tbody id="">
      <% @gi_accounts.each_with_index do |gi_account, index| %>
        <tr id="row_<%= gi_account.id %>" data-item-id=<%= "#{gi_account.id}" %> >
          <td class=""><%= index + 1 %></td>
          <td class=""><%= index + 1 %></td>
          <td class="">
            <div>Mail: <span><%= link_to gi_account.account_mail, edit_gi_account_path(gi_account) %></span></div>
            <div>Pass: <span><%= gi_account.account_pass %></span></div>
            <div>Birthday: <span><%= gi_account.birthday_acc %></span></div>
          </td>
          <td class="">
            <div>Char: <span><%= render_list_char(gi_account.list_character) if gi_account.list_character.present? %></span></div>
            <div>Weapons: <span><%= render_list_weap(gi_account.list_weapon) if gi_account.list_weapon.present?%></span></div>
            <div>Intertwined fate: <span><%= gi_account.intertwined_fate %></span></div>
            <div>Acquaint fate: <span><%= gi_account.acquaint_fate %></span></div>
          </td>
          <td class="">
            <div>Price: <span><%= gi_account.price %></span></div>
            <div>Price: <span><%= gi_account.sold_price %></span></div>
            <div>Clear Map: <span><%= gi_account.map_clear %></span></div>
            <div>Note: <span><%= gi_account.note %></span></div>
          </td>
          <td class=""><%= gi_account.owner %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
</div>