<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Employee code:</strong>
    <%= user.employee_code %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= user.active %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= user.language %>
  </p>

  <p>
    <strong>Schema color:</strong>
    <%= user.schema_color %>
  </p>

  <p>
    <strong>Password default:</strong>
    <%= user.password_default %>
  </p>

</div>
