<div id="<%= dom_id charater %>">
  <p>
    <strong>Name:</strong>
    <%= charater.name %>
  </p>

  <p>
    <strong>Image name:</strong>
    <%= charater.image_name %>
  </p>

  <p>
    <strong>Image path:</strong>
    <%= charater.image_path %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= charater.stars %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= charater.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= charater.note %>
  </p>

</div>
