<%= form_with(model: weapon) do |form| %>
  <% if weapon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
        <% weapon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :stars, style: "display: block" %>
    <%= form.number_field :stars %>
  </div>

  <div>
    <%= form.label :image_name, style: "display: block" %>
    <%= form.text_field :image_name %>
  </div>

  <div>
    <%= form.label :image_path, style: "display: block" %>
    <%= form.text_field :image_path %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
