<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= weapon.stars %>
  </p>

  <p>
    <strong>Image name:</strong>
    <%= weapon.image_name %>
  </p>

  <p>
    <strong>Image path:</strong>
    <%= weapon.image_path %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= weapon.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= weapon.note %>
  </p>

</div>
